<app-home></app-home>

<div *ngIf="reservations.length; else noReservations">
  <h2>Reservation List</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Guest</th>
        <th>Email</th>
        <th>Room No.</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.guestName }}</td>
        <td>{{ reservation.guestEmail }}</td>
        <td>{{ reservation.roomNumber }}</td>
        <td>{{ reservation.checkInDate }}</td>
        <td>{{ reservation.checkOutDate }}</td>
        <td>
          <button
            class="btn btn-sm btn-danger mx-1"
            (click)="deleteReservation(reservation.id)"
          >
            Delete
          </button>
          <button
            class="btn btn-sm btn-secondary mx-1"
            [routerLink]="['/reservation-edit', reservation.id]"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Creating a local reference ( using #) -->
<ng-template #noReservations>
  <p>No reservations available at the moment!</p>
</ng-template>
