<app-home></app-home>

<div *ngIf="reservations.length; else noReservations">
  <h2>Reservation List</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Guest Info</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>
          <div>Name:{{ reservation.guestName }}</div>
          <div>Email:{{ reservation.guestEmail }}</div>
        </td>
        <td>{{ reservation.checkInDate | date : "shortDate" }}</td>
        <td>{{ reservation.checkOutDate | date : "shortDate" }}</td>
        <td>
          <button
            class="btn btn-sm btn-danger m-1"
            (click)="deleteReservation(reservation.id)"
          >
            Delete
          </button>
          <button
            class="btn btn-sm btn-secondary m-1"
            [routerLink]="['/reservation-edit', reservation.id]"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Creating a local reference ( using #) -->
<ng-template #noReservations>
  <p>No reservations available at the moment!</p>
</ng-template>
