<app-home></app-home>

<h2>Reservation List</h2>
<ul *ngIf="reservations.length; else noReservations">
  <li *ngFor="let reservation of reservations">
    Guest: {{ reservation.guestName }} <br />
    Email: {{ reservation.guestEmail }} <br />
    Check-In Date: {{ reservation.checkInDate }} <br />
    Check-Out Date: {{ reservation.checkOutDate }} <br />
    Room Number: {{ reservation.roomNumber }} <br />
    <button (click)="deleteReservation(reservation.id)">Delete</button>
    <button [routerLink]="['/reservation-edit', reservation.id]">Edit</button>
  </li>
</ul>

<!-- Creating a local reference ( using #) -->
<ng-template #noReservations>
  <p>No reservations available at the moment!</p>
</ng-template>
